@charset "utf-8";

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-helper-hidden-accessible { display: none; }

/* Component containers
----------------------------------*/
.ui-widget-content { border: 1px solid #929290; background: #ffffff; padding: 1px; 	-moz-box-shadow: 0px 0px 40px rgba(64, 64, 61, 0.3); -webkit-box-shadow: 0px 0px 40px rgba(64, 64, 61, 0.3); box-shadow: 0px 0px 40px rgba(64, 64, 61, 0.3); }
.ui-widget-header { color: #444444; font-weight: bold; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background: #ececeb; font-weight: normal; color: #797977; border: 1px #ececeb solid; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #3383bb; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { }
.ui-state-hover a, .ui-state-hover a:hover { color: #599fcf; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #d8272e; background: #ececeb; font-weight: bold; color: #d71921; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ffffff; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  { color: #797977; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #797977; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #c0402a; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #ffffff; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; }

/*
 * jQuery UI Datepicker 1.8.6
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker { width: 198px; padding: 1px; font-family: Georgia, "Times New Roman", Times, serif; }
.ui-datepicker .ui-datepicker-header { position: relative; padding: 2px 0 5px 0; border: #dcdcdc solid; border-width: 1px 1px 0px 1px; background: #ffffff; }
.ui-datepicker .ui-datepicker-header .ui-icon { background: url("sprite_i.png") 0 0 no-repeat; }
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev .ui-icon { background-position: -197px 5px; }
.ui-datepicker .ui-datepicker-header .ui-datepicker-next .ui-icon { background-position: -171px 5px; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position: absolute; top: 0px; width: 28px; height: 28px; cursor: pointer; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 0px; cursor: pointer; }
.ui-datepicker .ui-datepicker-prev { left: 0px; }
.ui-datepicker .ui-datepicker-next { right: 0px; }
.ui-datepicker .ui-datepicker-prev-hover { left: 0px; }
.ui-datepicker .ui-datepicker-next-hover { right: 0px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 3px 0 0 0; font-family: Georgia, "Times New Roman", Times, serif; font-size: 11px; line-height: 18px; text-align: center; text-transform: uppercase; text-shadow: #fff 0px 1px 0px, #d9d9d8 0px 2px 0px; color: #797977; }
.ui-datepicker .ui-datepicker-month { padding-left: 4px; text-transform: lowercase; }
.ui-datepicker table { width: 198px; font-size: 11px; border-collapse: collapse; margin: -1px 0 0 0px; background: #ffffff; border: #dcdcdc solid; border-width: 0px 1px 1px 1px; color: #797977; }
.ui-datepicker table thead { display: none; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; text-align: center; }
.ui-datepicker td.ui-datepicker-current-day a { color: #d71921; }
.ui-datepicker td.ui-datepicker-other-month a { background: none; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: center; text-decoration: none; color: #797977; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 21px;
	height: 100%;
	background: none;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: url("Scrollba.png") 0 0 repeat-y;
	position: relative;
	cursor: pointer;
}

.jspDrag
{
	background: url("Scrollba.png") 0 0 repeat-y;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspDrag:hover
{
	background: url("Scrollba.png") 0 0 repeat-y;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}

